.noto-sans-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
}
#map {
    flex: 1;
    background-color: #121212;
}
.map-overlay {
    position: absolute;
    background-color: rgba(45, 45, 45, 0.7);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; 
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    color: rgba(255,255,255,0.7);
}

.spacer {
  margin-bottom: 10px; 
}


select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 10;
  padding: 0.5rem 6rem 0.5rem .7rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &::-ms-expand {
    display: none;
  }
  &:focus {
    outline: none;
  }
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}

:root {
  --arrow-bg: rgba(87, 87, 87, 0.7);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Caret_down_font_awesome_whitevariation.svg/2048px-Caret_down_font_awesome_whitevariation.svg.png);
  --option-bg: rgba(87, 87, 87, 0.4);
  --select-bg: rgba(87, 87, 87, 0.4);
}

* {
  box-sizing: border-box;
}

  input[type=radio] {
    --c: rgba(255,255,255,0.7); 
    margin-top: 8px;
    margin-left: 10px;
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid rgba(255,255,255,0.7);
    padding: calc(var(--s)/8);
    background: 
       radial-gradient(farthest-side,var(--c) 94%,#0000) 
       50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
  }
  input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
  }
  
  input[type=radio]:disabled {
    background: 
       linear-gradient(rgba(255,255,255,0.83) 0 0) 
       50%/100% 20% no-repeat content-box;
    opacity: .5;
    cursor: not-allowed;
  }

  .leaflet-marker-pane > * {
    -webkit-transition: transform .08s linear;
    -moz-transition: transform .08s linear;
    -o-transition: transform .08s linear;
    -ms-transition: transform .08s linear;
    transition: transform .08s linear;
  }

  input[type=text] {
    font-size: 14px;
    border-radius: 4px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 1px solid #0000004d;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(87, 87, 87, 0.4);
    display: block;
    height: 30px;
    font-family: "Noto Sans", sans-serif;
  }

  :focus {
    outline: 2px solid rgb(111, 0, 255);
    outline-offset: 1px; 
  }

  html, body {
    overflow: hidden;
  }
  
  .scroll-view {
      max-height: 200px;
      height: 200px;
      overflow-y: auto;
      border:1px solid #0000004d;
      border-radius: 6px;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .handle {
    height: 40px;
    width: 12px;
    border:1px solid rgba(45, 45, 45, 0.7);
    border-radius: 6px;
    background-color: rgba(45, 45, 45, 0.7);
    outline: none;
  }

  .item {
      
      margin-bottom: 10px;
  }

  .item-content.selected {
    border: 3px solid rgb(111, 0, 255);
    border-radius: 13px;
  }

  #legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .search-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 1px solid rgba(34, 34, 34, 0.1);
    background: rgba(87, 87, 87, 0.6);
    padding: 0 12px 1px;
    font-size: 15px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.7);
    height: 30px;
    transition: all 80ms linear;
    font-family: "Noto Sans", sans-serif;
}

.search-button:hover {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
    background: rgba(66, 66, 66, 0.6);
}

.search-button:active {
    background: rgba(51, 51, 51, 0.6);
    border: 3px solid rgb(111, 0, 255);
}


  label {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}




input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}


input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgba(87,87,87,0.4);
  border-radius: 0.5rem;
  height: 0.5rem;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: #555555 ;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}


input[type="range"]::-moz-range-track {
  background-color: rgba(87,87,87,0.4);
  border-radius: 0.5rem;
  height: 0.5rem;
}


input[type="range"]::-moz-range-thumb {
  background-color: #555555 ;
  border: none;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type=checkbox] {
  --s: 1em;
  --c: rgba(255,255,255,0.7);
  margin-top: 8px;
  margin-left: 10px;
  height: var(--s);
  width: var(--s);
  border: calc(var(--s)/8) solid rgba(255,255,255,0.7);
  padding: calc(var(--s)/8);
  background: 
      linear-gradient(var(--c) 0 0) 
      50%/0 0 no-repeat content-box;
  border-radius: 0.2em;
  outline-offset: calc(var(--s)/10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s;
}
input[type=checkbox]:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}

input[type=checkbox]:disabled {
  background: 
      linear-gradient(rgba(255,255,255,0.7) 0 0) 
      50%/100% 20% no-repeat content-box;
  opacity: .5;
  cursor: not-allowed;
}

.autocomplete-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 10px;
}

#searchInput {
  width: 225px;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 1px solid #0000004d;
  color: rgba(255,255,255,0.7);
  background: rgba(87,87,87,0.4);
  display: block;
  height: 30px;
  font-family: "Noto Sans", sans-serif;
}

#suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 225px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(87,87,87,0.4);
  max-height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 1000;
  border-radius: 10px;
}

.suggestion-item {
  padding: 10px;
  background: rgba(87, 87, 87, 0.8);
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 2px;
}

.suggestion-item:hover {
  background-color: rgb(87, 87, 87);
}


#suggestions::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(87, 87, 87, 0.4);
}

#suggestions::-webkit-scrollbar-thumb {
  background-color: rgba(111, 0, 255, 0.8);
  border-radius: 4px;
}

#suggestions::-webkit-scrollbar-thumb:hover {
  background-color: rgba(111, 0, 255, 1);
}

#suggestions::-webkit-scrollbar-thumb:active {
  background-color: rgba(111, 0, 255, 1);
}

#suggestions {
  scrollbar-width: thin;
  scrollbar-color: rgba(111, 0, 255, 0.8) rgba(87, 87, 87, 0.4);
}

.leaflet-control-attribution {
  background: rgba(255, 255, 255, 0);
  border: none;
  font-size: 0px;
  padding: 0px;
}

#dragable {
  width: 600px;
  height: 300px;
  position: absolute;
  z-index: 5000;
  transition: border-color 0.2s, box-shadow 0.2s;
}

#dragable.drag {
  border-color: white;
  box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.5);
}

#dragable #dragzone {
  width: 100%;
  height: 100%;
  cursor: move;
  z-index: 10;
  background-color: rgba(87, 87, 87, 0.4);
  border-radius: 5px;
  pointer-events: auto;
}

#dragable.dragging #dragzone {
  pointer-events: none;
}

#dragable input,
#dragable select {
  pointer-events: auto;
}

.panel {
  width: 580px;
  height: 244px;
  background-color: rgba(37, 37, 37, 0.6);
  border-radius: 5px;
}